<div>here are the parameters: <%= @test_info %></div>


<div class="container">
  <div class="header">
    <h1>
      Sessions
    </h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped table-hover">
        <tr>
          <th>Session name</th>
          <th>Date</th>
          <th>Start time</th>
          <th>End time</th>
          <th>Instructor</th>
          <th>Instructor mb</th>
          <th>Session mb</th>
          <th>Location</th>
          <th>Actions</th>
        </tr>

        <% @sessions.each do |session| %>
        <tr>
          <td><strong><%= session.session_name %></strong></td>
          <td><%= session.start_time.strftime("%m-%d-%Y") %></td>
          <td><%= session.start_time.strftime("%l:%M %p") %></td>
          <td><%= session.end_time.strftime("%l:%M %p") %></td>
          <td><%= session.instructor_id %></td>
          <td><%= session.instructor_mb_id %></td>
          <td><%= session.session_mb_id %></td>
          <td><%= session.location %></td>
          <td>
            <a href="/sessions/<%= session.id %>" class="btn btn-primary">Show</a>
            <a href="/sessions/<%= session.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_session/<%= session.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
