<div class="page-header">
  <h1>
    Residents
    <a href="/residents/new" class="btn btn-lg btn-success">New Resident</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Resident mb</th>
        <th>Actions</th>
      </tr>

      <% @residents.each do |resident| %>
      <tr>
        <td><%= resident.first_name %></td>
        <td><%= resident.last_name %></td>
        <td><%= resident.resident_mb_id %></td>
        <td>
          <a href="/residents/<%= resident.id %>" class="btn btn-primary">Show</a>
          <a href="/residents/<%= resident.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_resident/<%= resident.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
